@import './normalize.css';
@import './constants.less';
@import './vendor/loader.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body, html {
  font-family: 'Open Sans', sans-serif;
}

.application {
  color: @dark-color;

  .cards-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    .card-item {
      margin: 10px;
      box-shadow: @shadow;
      padding: 10px;
      width: 40%;
      min-width: 280px;

      a {
        color: @main-color;
      }

      .description {
        color: lightgrey;
      }
    }
  }

  .cards-wrapper {
    padding: 12px;
  }

  .cta {
    padding: 6px 10px;
    background: @main-color;
    width: auto;
    left: 12px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    width: 130px;
    border: none;
    text-align: center;

    &.small {
      width: 80px;
      display: inline-block;
    }
  }

  .create {
    margin: 0 auto;
  }
}
